Checks: '-*,bugprone-*,cppcoreguidelines*,misc*,modernize-*,readability-identifier-naming,-misc-include-cleaner,-modernize-use-trailing-return-type'

HeaderFilterRegex: '.*\/HAL\/'

ExtraArgsBefore: 
 - '-std=c++23'

CheckOptions: [
  {key: readability-identifier-naming.VaribleCase, value: camelBack},
  {key: readability-identifier-naming.ClassMethodCase, value: lower_case},
  {key: readability-identifier-naming.FunctionCase, value: lower_case},
]
