[submodule "Software/LIB/EmbedGUI"]
	path = Software/LIB/EmbedGUI
	url = https://github.com/ProrokWielki/EmbedGUI.git
[submodule "Software/STM/LIB/CMSIS/CMSIS-L4"]
	path = Software/STM/LIB/CMSIS/CMSIS-L4
	url = https://github.com/STMicroelectronics/cmsis-device-l4.git
[submodule "Software/STM/LIB/CMSIS/CMSIS-CORE"]
	path = Software/STM/LIB/CMSIS/CMSIS-CORE
	url = https://github.com/STMicroelectronics/cmsis-core.git
[submodule "Software/STM/LIB/FreeRTOS/FreeRTOS"]
	path = Software/STM/LIB/FreeRTOS/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-LTS.git
