[submodule "Software/STM/lib/EmbedGUI"]
	path = Software/STM/lib/EmbedGUI
	url = https://github.com/ProrokWielki/EmbedGUI.git
[submodule "Software/STM/lib/CMSIS/CMSIS-L4"]
	path = Software/STM/lib/CMSIS/CMSIS-L4
	url = https://github.com/STMicroelectronics/cmsis-device-l4.git
[submodule "Software/STM/lib/CMSIS/CMSIS-CORE"]
	path = Software/STM/lib/CMSIS/CMSIS-CORE
	url = https://github.com/STMicroelectronics/cmsis-core.git
[submodule "Software/STM/lib/FreeRTOS/FreeRTOS"]
	path = Software/STM/lib/FreeRTOS/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-LTS.git
[submodule "Software/STM/tools/Text2CArray"]
	path = Software/STM/tools/Text2CArray
	url = https://github.com/ProrokWielki/Text2CArray.git
